//- extends layout
//- block content
doctype html
html
    head
        title HPP Scoreboard
        style
            include style.css
        script(src="https://code.jquery.com/jquery-1.12.0.min.js")
        script(src='scoreboard.js')
    body
        h1 Team Scores
        div(id="testDiv")
        table(class="scoreTable")
            tbody
                tr(class="teamRow")
                    each team,teamname in teamdata
                        td
                            div(class="teamAvatar")
                                img(src=""+team.LogoSrc)
                                span(class="caption")
                                    =teamname
                                    - var CurrentPts = 0; var HouseList="";
                                each housePts,houseName in team.Houses
                                    - HouseList += "<li>"+houseName+": <span class='hsPt' id="+houseName+">"+housePts+"</span></li>"
                                    - CurrentPts += housePts
                                h2(class="CurrentPts")=CurrentPts
                                unless Object.keys(team.Houses).length==1
                                    .houseList.
                                        !{HouseList}
                                    

