//- extends layout
//- block content
doctype html
html
    head
        style
            include style.css
    body
        h1 Team Scores
        div
        table(class="scoreTable")
            thead
                tr
                    th Teams
            tbody
                - 
                    var teamArray = [];
                    for (var name in teamdata) {
                        var teamArrObj = teamdata[name];
                        teamArrObj.name = name;
                        teamArray.push(teamArrObj);
                    }
                    teamArray.sort(function(a,b){
                        return b.CurrentPts - a.CurrentPts;
                        }
                    );

                each team in teamArray
                    tr(class="teamRow")
                        td
                            div(class="teamAvatar")
                                img(src=""+team.LogoSrc)
                                span(class="caption")
                                    =team.name
                        td
                            h2=team.CurrentPts
