//- extends layout
//- block content
doctype html
html
    head
        title HPP Scoreboard
        include favicons.html

        meta(name='viewport' content='width=device-width, user-scalable=no')

        style
            include ../css/scoreboard.css
        script(src="https://code.jquery.com/jquery-1.12.0.min.js")
        script(src='scoreboard.js')


    body
        include scoreboard.html
