<!DOCTYPE html>
<html>
    <head>
    <title> HPP Prefect </title>
	<script src="https://code.jquery.com/jquery-1.12.0.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11,r-2.0.2/datatables.js"></script>
	<script language="javascript" src="prefect.js"> </script>
    </head>
	<body>
	    <table class="authors-list" id="dataTable" name="theTable">
		<thead><tr><td>House</td><td>Point Category</td><td>Point Subcategory</td><td>Baseline Value</td><td>Modifier</td></tr></thead>
		<tbody></tbody>
	    </table>
	    <a href="#" title="" class="add-author">Add Point Change</a>
	    <button class="submit">Submit Points</button>
	</body>
</html>
