<h1 class="header-title">Harry Potter Party</h1>
<div id="testDiv"></div>
<div class="scoreTable" id="scoreTable">

</div>
<h2 class="header-subtitle"></h2>

<script id="team-tempate" type="text/template">
    <div class="team-col particle-container <%name%>" id="team<%id%>">
        <div class="backgrounds"></div>
        <div class="teamAvatar">
            <span class="caption"><%name%></span>
            <h2 class="CurrentPts" id="pts<%id%>"><%points%></h2>
        </div>
    </div>
</script>
