table.scoreTable {
    margin-right:auto;
    margin-left:auto;
    table-layout:auto;
}
.scoreTable td {
    white-space:nowrap;
}
h1 {
    text-align:center;
}
div.teamAvatar {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
img {
    width: 300px;
    height: 300px;
}
.caption {
    display: block;
}
