table.scoreTable {
    margin-right:auto;
    margin-left:auto;
}
div.teamAvatar {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
    display: block;
}
